---
import Layout from '../layouts/Layout.astro'
import Main from '../components/Main.svelte'
import Nav from '../components/Nav.svelte'
import Hero from '../components/Hero.svelte'
import BrowserWindow from '../components/BrowserWindow.svelte'
---

<Layout title="a/links">
  <header class="container relative mx-auto max-w-5xl">
    <Nav client:load />
  </header>
  <Main >
    <Hero />
    <div class="mx-auto max-w-4xl min-h-max">
      <BrowserWindow client:load />
    </div>
    <!-- <section>
      <h2 id="product" class="text-2xl font-bold tracking-tight sm:text-center sm:text-4xl">
        Product
      </h2>

    </section>
    <section>
      <h2>Features</h2>
    </section> -->
  </Main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
